<header th:insert="fragments/header.html"> </header>

<div class="ui raised very padded text container segment" >
    <form class="ui form"  action="#" type="submit" th:action="@{/kita/comments/edit}" th:object="${kita}" method="post">
        <div>
            <input type="hidden" th:value="${kita.id}" name="kitaId"/>

            <label>Edit Your Comment</label>

            <input type="text" name="commentName" placeholder="Comment Name">
            <input type="text" name="comment" placeholder="Comment">
        </div>
        <hr/>
        <button class="ui olive button" type="submit">Update</button>
    </form>
</div>

<footer th:insert="fragments/footer.html"> </footer>
