<header th:insert="fragments/header.html"> </header>

<div class="ui raised very padded text container segment" >Add Comment
    <form class="ui form"  action="#" type="submit" th:action="@{/kita/comments/new}" th:object="${kita}" method="post">
        <table class="ui single line table">
                <tr>
                    <td>
                        <input type="hidden" th:value="${kita.id}" name="kitaId"/>
                    </td>
                    <td>
                        <input type="text" name="comment" placeholder="Comment">
                    </td>
                </tr>
        </table>
        <button class="ui olive button" type="submit">Submit</button>
    </form>
</div>

<footer th:insert="fragments/footer.html"> </footer>
