<header th:insert="fragments/header.html"> </header>

    <div class="ui raised very padded text container segment" >
        <form class="ui form"  action="#" type="submit" th:action="@{/addKita}" th:object="${kita}" method="post">
            <div class="field">
                <label>Kita Name</label>
                <input type="text" name="name" placeholder="Name">
            </div>
            <div class="field">
                <label>Image</label>
                <input type="url" name="image" placeholder="image">
            </div>
            <div class="field">
                <label>URL</label>
                <input type="url" name="url" placeholder="url">
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
<footer th:insert="fragments/footer.html"> </footer>
