<header th:insert="fragments/header.html"> </header>

    <div class="ui raised very padded text container segment" >
        <th:block th:each="kita : ${kitas}">
        <div class="ui grid purple table">
            <div class="sixteen wide column">
                <a class="ui center sixteen wide column" th:href="${kita.url}" th:text="${kita.name}"></a>
            </div>
            <div class="ui large rectangular image center">
                <img th:src="${kita.image}"/>
            </div>
            <div class="sixteen wide column">
                <h5 th:utext="${kita.shortDescription}"></h5>
            </div>
            <div class="sixteen wide column">
                <a class="ui reverse button green" href="comments/new">Add a comment</a>
            </div>
        </div>
        </th:block>
            <div class="ui grid">
                <a href="addKita" class="ui center column button teal">Add a Kita</a>
            </div>

<footer th:insert="fragments/footer.html"> </footer>
