<header th:insert="fragments/header.html"> </header>


<link rel="stylesheet" type="text/css" href="/landing.css">
<header th:insert="fragments/header.html"> </header>

    <div class="ui column centered grid">
        <div class="column"></div>
        <div class="four column centered row">
            <div class="column">
                <a href="/kitaList" class="huge ui olive button">Find Your Perfekt Kita</a>
            </div>
        </div>
    </div>

<footer th:insert="fragments/footer.html"> </footer>
