<header th:insert="fragments/header.html"> </header>

    <div class="ui raised very padded text container segment" >
        <table class="ui segment container">
            <th:block th:each="preschool : ${preschools}">
                <tr>
                    <td class="ui medium rectangular image">
                        <img th:src="${preschool.image}"/>
                    </td>
                    <td>
                        <a th:href="${preschool.url}" th:text="${preschool.name}"></a>
                    </td>
                    <td>
                        <h5 th:utext="${preschool.shortDescription}"></h5>
                    </td>
                </tr>
            </th:block>
        </table>
        <a class="ui segment container" href="addPreschool">Add a Preschool</a>
    </div>

<footer th:insert="fragments/footer.html"> </footer>
